<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Memorize Scriptures Weekly</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <h1>About</h1>
        <p> This site was created to make memorizing bible verses easier for you by suggesting
        	user desired number of scriptures per week based on the categories chosen. I hope
        	and pray this site will help you write the Word of God in your heart. </p> 
    </div>
     
</body>
</html>